@import "variables";

html {
  direction: ltr;
  min-height: 100vh;
  max-height: 100vh;
  color: $primary-text-color;
  font-size: $default-font-size;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

* {
  outline: none;
  color: inherit;
}

::-moz-selection {
  color: $secondary-text-color;
  background: $primary-color;
}

::selection {
  color: $secondary-text-color;
  background: $primary-color;
}

body {
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s;

  &:link,
  &:visited {
    color: inherit;
  }
}

p {
  margin: 0;
  line-height: 1.5;
}

span, div {
  cursor: default;
}

table{
  th {
    background-color: #eceeef;
    text-transform: capitalize;
  }
  th, td {
    vertical-align: middle !important;
  }
}
